body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header, footer {
  background-color: #0A3251;
  color: #ffffff;
  text-align: center;
  padding: 1em;
}

img.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-bottom: 1.5em;
}

.navbar-container {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #0A3251;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  display: inline;
  padding: 0;
}

.navbar-container li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.75em;
  font-family: 'Hind', sans-serif;
}

.navbar-container a {
  text-decoration: none;
  color: #ffffff;
}

.img-div {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

.img {
  display: inline;
  width: 250px;
}

img.world {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 1.5em;
  border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #2f2f2f;
}

h4, h5, h6 {
  color: #847b82;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 15px;
}

h2 {
  font-size: 2.75em;
  margin: 15px;
}

h3 {
  font-size: 2.5em;
  margin: 15px;
}

h4 {
  font-size: 2.25em;
  margin-top: 30px;
  margin-bottom: 30px;
}

h5 {
  font-size: 1.75em;
  margin: 15px;
}

h6 {
  font-size: 1.5em;
  margin: 15px;
}

p {
  color: #adadad;
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
  margin: 15px;
  line-height: 25px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.fb, .google {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  padding: 14px 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.fb {
  background-color: #3B5998;
}

.google {
  background-color: #dd4b39;
}

.fb:hover, .google:hover {
  background-color: #2d4278;
}


@media screen and (max-width: 480px){
  .navbar-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .navbar-container li {
    display: block;
    text-align: center;
    margin: 0.5em 0;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  body {
    margin: 1.5em;
    padding: 1.5em;
    background-color: #ffffff;
  }
  input, textarea {
    width: 90%;
  }
}

.container {
  position: relative;
  border-radius: 5px;
  padding: 15px ;
} 

input, textarea {
  width: 45%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 1;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

input[type=submit] {
  background-color: #0A3251;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

input[type=submit]:hover {
  background-color: darkblue;
}

.bottom-container {
  text-align: center;
  background-color: #0A3251;
  border-radius: 0px 0px 4px 4px;
  padding: 10px;
  line-height: 1.5;
}


.footer-container {
  text-align: center;
  margin-top: 1em;
}

@media screen and (max-width: 650px) {
  .link {
    width: 100%;
    margin-top: 0;
	text-align: center;
  }
 
  .hide-md-lg {
    display: block;
    text-align: center;
  }
	
  h1 {
    margin-bottom: 15px;
    font-size: 1.5em;
  }

  body {
    margin: 2em;
    padding: 2em;
    background-color: #ffffff;
  }
  input, textarea {
    width: 70%;
  }
}

.container {
  position: relative;
  border-radius: 5px;
  padding: 15px ;
} 

input, textarea {
  width: 45%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 1;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

input[type=submit] {
  background-color: #0A3251;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

input[type=submit]:hover {
  background-color: darkblue;
}

.bottom-container {
  text-align: center;
  background-color: #0A3251;
  border-radius: 0px 0px 4px 4px;
  padding: 10px;
  line-height: 1.5;
}

}
